<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui,viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no" />
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-orientation" content="portrait">
	<!-- 强制竖屏 -->
	<meta name="full-screen" content="yes">
	<meta http-equiv="pragma" content="no-cache" />
	<title>template</title>
  <!-- 最先引用flexible 控制页面渲染布局 -->
  <script inline src="./static/flexible.js"></script>
	<script src="//cdn.bootcss.com/vue/2.5.16/vue<%= htmlWebpackPlugin.options.min %>.js"></script>
	<script src="//cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
	<!-- swiper start -->
	<link href="//cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
	<script src="//cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
	<script inline src="./static/vue-awesome-swiper.js"></script>
	<!-- swiper end -->
	<script>
		(function (win) {
			var env = '<%= htmlWebpackPlugin.options.env %>'.replace(/"/g, '');
			var host = location.origin,
				WebApiPrefix = '', // WebApi前缀
				routerRoot = '', // 路由history模式的base
				albumPrefix = '', // 相册预览前缀
				avatarPrefix = '', // 头像预览前缀
				actLog = false // 前端接口日志
			switch (env) {
				case 'production': // 生产
					routerRoot = '/an:HrTalentPerspective/HrTalentPerspective'
					WebApiPrefix = '/an:HrTalentPerspective/HrTalentPerspective'
					albumPrefix = host + WebApiPrefix
					avatarPrefix = host + '/an:HrTalentPerspective/ts:r.hrc.oa.com/photo/150/___name___.png'
					actLog = true
					break
				case 'uat':
					routerRoot = '/an:hrmp/HrTalentPerspective'
					WebApiPrefix = '/an:hrmp/HrTalentPerspective'
					albumPrefix = host + WebApiPrefix
					avatarPrefix = host + '/an:hrmp/ts:r.hrc.oa.com/photo/150/___name___.png'
					actLog = true
					break
				case 'development': // 开发
					routerRoot = ''
					WebApiPrefix = ''
					albumPrefix = 'http://10.17.80.40:8040'
					avatarPrefix = 'http://dayu.oa.com/avatars/___name___/avatar.jpg'
					actLog = false
					break
			}
			var config = {
				env: env,
				host: host,
				WebApiPrefix: WebApiPrefix,
				routerRoot: routerRoot,
				albumPrefix: albumPrefix,
				avatarPrefix: avatarPrefix,
				actLog: actLog,
				isIOS: !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)
			}
			win.config = config
		})(window)

	</script>
</head>

<body>
	<div id="app"></div>
	<%=htmlWebpackPlugin.files.webpackManifest%>
	<!-- built files will be auto injected -->
</body>

</html>
